.home {
  grid-template-columns: 4.32fr 7.68fr;
  align-items: center;
  padding: 40px;
  height: 100vh;
 
}
.home__content{
    margin-left: 15rem;
}
.home__img{
    height: 100%;
    /* width: ; */
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 0 8px hsla(0 ,0%,0%,0.3);
    z-index: 1;
}

.home__data{
    max-width: 600px;
    margin-inline:auto;
    padding-top: 20px;
}

.home__title{
    position: relative;
    font-size: var(--h2-font-size);
    line-height: 1.24;
    padding-left: 70px;
}
.home__title span{
    color: var(--first-color);
}

.home__title::before{
    content: '';
    position: absolute;
    left: 0;
    top: 22%;
    width: 40px;
    height: 4px;
    border-radius: 10px;
    background-color: var(--first-color);
}

.home__description{
    line-height: 2.125;
    margin-block: 16px 32px;
}

.color__block{
    position: fixed;
    height: 200%;
    width: 100%;
    background-color: var(--first-color);
    top: -50%;
    left:-83%;
    transform: rotate(-15deg);
}

@media (min-width:0px) and (max-width:500px) {
    .home__content{
        margin-left: 0rem;
        position: relative;
        z-index: 1 !important;
    }
    .home__description{
        color: #053e49;
    }
    .button {
        border: 1px solid #053e49 !important;
        color:#053e49 !important ;
    }
   .mern{
    color:#053e49 !important ;
   }
   .home__title span {
    color: #009be4 !important;
   }
    .home__title::before{
    background-color: #053e49 !important;
   }
}